<!--<p>
    {{ today | mydatepipe }}
</p>


<p>
    {{ email | emailpipe }}
</p>

<p>
    {{ 'azerty' | uppercase }}
</p>

<p>
    {{ 'AZERTY' | lowercase }}
</p>


<p>
    {{ today | date:'medium' }}
</p>

<p>
    {{ 5226669333556 | number }}
</p>


<p>
    {{ 128899 | currency:"TND" }}
</p>

<p>
    {{ 'angular spring' | titlecase }}
</p>-->


<!---************************************ forms*********************************-->


<!-- <app-new-types></app-new-types> -->

<app-http-call-demo></app-http-call-demo>