<app-navbar></app-navbar>



<div class="container mt-5">
    <h3>About us</h3>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem quae veniam, dolores distinctio facere consectetur asperiores voluptate! Tempora mollitia perspiciatis, vero voluptates doloremque inventore quam rerum consequatur! Doloribus, delectus impedit.
    </p>



    <ul class="nav nav-tabs">
       
        
        <li class="nav-item">
            <a class="nav-link" routerLink="/about-us/team" routerLinkActive="active">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-us/historic" routerLinkActive="active"> Historic</a>
          </li>
          
       

      </ul>

    <router-outlet></router-outlet>



</div>


