<div class="card">
    <div class="card-header">
        <p>
            <strong>chourabi taher</strong>
        </p>
        <p class="text-muted">
            <small>08/16/2022 1:09</small>
        </p>
    </div>
    <div class="card-body">
        <img src="https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547__480.jpg" class="w-100" alt="">
        
        <p class="text-muted">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, blanditiis? Officiis omnis dignissimos nostrum unde dolore natus nam nesciunt porro tempore, recusandae accusamus aliquid quo architecto magnam, labore aut excepturi.
        </p>

        <div class="row">
            <div class="col text-center">
                18 Like
            </div>
            <div class="col text-center">
                comments
            </div>
            <div class="col text-center">
                share
            </div>
            
        </div>
    </div>
</div>